
@font-face {
    font-family: Sagar;
    src: url(../fonts/MyanmarSagar.ttf);
  }

@font-face {
    font-family: Yinmar;
    src: url(../fonts/MyanmarYinmar.ttf);
}

body{
    height: 1000px;
}

.font-test{
    font-family: Sagar;
}

.font-test2 {
    font-family: Yinmar;
}

.container {
    height: 500px;
    /* background-color: aqua; */
    background-image: url('../images/sunflower.jpg'), linear-gradient(45deg, #FFDDC1, #E0BBE4) ;
    background-size: 200px  ;
    background-repeat: no-repeat;
    /* background-position: top 200px left 400px; */
    /* background-attachment: fixed; */
  
}