* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box{
    height: 600px;
    background-color: aquamarine;
}

.obj:nth-child(1) {
    width: 100px;
    height: 100px;
    background-color: beige;
}

.obj:nth-child(2) {
    width: 100px;
    height: 100px;
    background-color: rgb(236, 236, 13);
}

.obj:nth-child(3) {
    width: 100px;
    height: 100px;
    background-color: rgb(112, 7, 226);
}


