*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    height: 150px;
    background: #1ed01b;

}


.box2 {
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    height: 150px;
    background: #1ed01b;

}

.box3 {
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    height: 150px;
    background: #1ed01b;

}

.box:hover{
    background-color: aqua;
    transform: rotate(60deg);
    transform: translateX(50px);
    border: 10px solid black;
    transition: all 1s ease-in-out;
    
}



.bg-violet {
    background-color: #B1AFFF;
}

.bg-violet:hover {
    background-color: #241194;
    color: white;
}

.bg-red {
    background-color: red !important;
}

.bg-red:hover {
    background-color: rgb(215, 50, 50);
}

.time-1000{
    transition: all 1s ease-in-out;
}

.time-500{
    transition: all 0.5s ease-in-out;
}

.time-300{
    transition: all 0.3s ease-in-out;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.left-10{
    left: 20px;
}

.right-10{
    right: 20px;
}

.top-10{
    top: 20px;
}

.w-300{
    width: 100px;
}

.h-300{
    height: 100px;
}

.bg-yellow{
    background-color: #F6F193;
}

.m-10{
    margin: 20px;
}

.h-500{
    height: 500px;
}

.p-10{
    padding: 20px;
}

body{
    padding: 20px;
}

.btn{
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #7469B6;
    color: white;
    font-size: 20px;
    box-shadow: 0px 10px 20px -3px rgba(0,0,0,0.5);
}

.btn:active {
    padding: 18px 22px;
    background-color: #B1AFFF;
    transition: all 0.2s;
}


.btn:hover {
    background-color:#FFBE98 ;
    transition: all 0.4s ease-in-out;
    color: black;
}


.button {
    border: 2px solid #24b4fb;
    background-color: #24b4fb;
    border-radius: 0.9em;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
   }
   
   .button span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
   }
   
   .button:hover {
    background-color: #0071e2;
   }